
.page-header-section{
    background-image:url(https://uploads-ssl.webflow.com/5b42ca4220a14a3f61aeff1f/5b43af8300175d2401032411_web-base-imagery.png)
}
.page-header{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center
    margin-top: 16px;
    position: static;
    font-weight: 700; 
}
