<<<<<<< HEAD

.page-header-section{
    background-image:url(https://uploads-ssl.webflow.com/5b42ca4220a14a3f61aeff1f/5b43af8300175d2401032411_web-base-imagery.png)
}
.page-header{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center
    margin-top: 16px;
    position: static;
    font-weight: 700; 
}
=======
/* Footer style */
footerCol{
    color:#5f86ff
}
footerDesc{
    width:33.33%;
}
footerLinks{
    width:33.33%
}
>>>>>>> 318b8bf846c6ab1d2cd44a50a01719189380cd85
