.header{
  color:#E0FFFF;
  text-align: center;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
  }
 /***********************************Headers for all pages*************************/
  /*Written by Malena*/

  .homepage-hero-image{
    background-image: url(imageFolder/indexheader.jpg);/*Image taken off Google Street View 2019*/
     height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .foodpage-hero-image{
    background-image: url(imageFolder/foodpageheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .imagegallery-hero-image{
    background-image: url(imageFolder/galleryheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .parkspage-hero-image{
    background-image: url(imageFolder/parksheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .eventspage-hero-image{
    background-image: url(imageFolder/eventsheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .localspage-hero-image{
    background-image: url(imageFolder/localsheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .mappage-hero-image{
    background-image: url(imageFolder/mapheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .teampage-hero-image{
    background-image: url(imageFolder/teamheader.jpg);/*Image taken off Google Street View 2019*/
   height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom:20%
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  h1.heroimage{
    color: #E0FFFF;
    font-size: 50px;
    text-shadow: 5px 5px 5px black, 0 0 1em rgb(224, 253, 242), 0 0 0.2em black;
    white-space: nowrap;
  }

  /* Text wrapping code referenced from css-Tricks. (n.d). white-space. Retrieved from CSS-TRICKS:
   https://css-tricks.com/almanac/properties/w/whitespace/ */

   /*Hero image code inspired by: https://codepen.io/mrnathan8/pen/KwKdmO and 
   https://css-tricks.com/forums/topic/full-width-header-responsive-image-with-left-right-overflow/ */
  /*Hero Image text-shadow taken and edited off of: https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow */

/*Chris - Set background colour*/
body{
  background-color: rgb(224, 253, 242)
}
/*Chris - Set inner content box for entire page*/

.innerContent{
  background-color: rgb(255, 255, 255);
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(105, 105, 105, 0.8), -12px 0 15px -4px rgba(105, 105, 105, 0.8);
}
/**************************************NAVIGATION BAR**************************************/
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column
}

.navList { /*General Nav properties*/
  background-color: white; 
  border-bottom: 1px solid black; /*thin line at the bottom of nav bar*/
  box-shadow: 0 8px 10px 0px rgba(0, 0, 0, 0.2); /*grey shadow*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
  /*keep it high*/
}

.navList li { /*controls float of nav bar*/
  float: left;
}

.navList a { /*text for nav bar*/
  color: black;
  text-decoration: none;
  padding: 12px;
  display: block;
  transition: .3s;
  white-space: nowrap;
}

.navList a:hover { /*Hover colour*/
  background-color: #E0FFFF;
}

.navList > li { /*hide the list within the nav element*/
  position: relative;
}

.navList > li > div { /*List properties*/
  visibility: hidden;
  position: absolute;
  background-color: white;
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: .1s;
  opacity: 0;
}

.navList > li:hover > div { /*hover properties for list*/
  visibility: visible;
  opacity: 1;
}
/*Code for navigation bar referenced from CodePen. (n.d). navBar with Dropdown. 
Retrieved from CodePen: https://codepen.io/zFunx/pen/XMKaBj*/


/***************************************Main Photo Slideshow***************************************/

* {box-sizing:border-box} /*Watch this, effects everything*/

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width:auto;
  height:auto;
}

.dotBar{
	text-align:center;
	top:10%;
}	
/* Hide the images by default */
.mySlides {
  display: none;
  width:auto;
  height:auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family:Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  color:rgb(255,255,255); 
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom:16px;
  margin-top: 16px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 5px black, 0 0 1em rgb(224, 253, 242), 0 0 0.2em black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/****************Image Gallery************/
/*Owned by Malena*/
*
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
} 
/* Create two equal columns that floats next to each other */ 
.column {
	flex-wrap: 25%; 
  flex: 25%;
  padding: 10px;
} 

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
} */ 

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both; 
}  
/*Image gallery taken and edited based of w3schools How To 
  https://www.w3schools.com/howto/howto_js_image_grid.asp*/


/*General CSS for headings, etc*/
/*written by Mara*/

h1{
  font-family: Helvetica;
  color: black;
}

h2{
  font-family: Helvetica;
  color: black
}

h3{
  font-family: Helvetica;
  color: black
}

p{
  font-family: Helvetica;
  color: black
}

/************************************************** Food Page CSS *******************************************************/
/* Written by Mara*/

  
img.stars { /*Star image css*/
  display: block;
  clear: left;
  margin: 20px;
  margin-top: 5%;
  width: 40%;
  min-width: 150px;
  height: 55%;
  padding-bottom: 20px;
  padding-top: 20px;
}
  
h2.food { /*css for header*/
  clear:left;
  margin: 20px;
  text-align: center;
  background-color: lightsteelblue;
  border: 1px solid black;
  border-radius: 10px; /*Rounds corners, code for rounding corners referenced from MDN Web Docs. (2019). border-radius. Retrieved from MDN Web Docs: https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
  width: 90%;
}


img.tims{ /*css for main image*/
  width: 45%;
  float: right;
  clear:right;
  margin-top: 20px;
  margin-right: 20px;
  overflow: hidden;
}


p.pfood{ /*css for review paragraph*/
  float:left;
  clear:left; /*clears everything to the left*/
  margin: 20px;
  width: 40%;
  padding-bottom: 2.5%;
  padding-top: 10px;
  min-width: 320px; /*ensures paragraph will remain a certain width*/
}

#maptitle{ /*centers title for static map*/
  text-align: center;
  clear: left;
  padding-top: 75px 
}

img.staticmap{ 
  text-align: center; /*Requires centre to prevent coverflow outside "inner content"*/
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 100px
}

/* Code for div boxes referenced from Stack Overflow. (2012). Make text in paragraphs in div overrflow instead of new lines. Retrieved from Stack Overflow: https://stackoverflow.com/questions/15783079/make-text-in-paraghapghs-in-div-overflow-instead-of-new-lines*/

div.rightbox{ /*right box spans 100% of the inner page*/ 
  border: 1px solid black;
  width: 100%;
  height: 500px;
}

div.leftbox{ /*left box is contained within right box, but is justified to the left*/ 
  clear: left;
  float: left;
  width: 45%;
  height: 175px; 
}
/*HTML code for food page referenced from Duckett, J. (2011). HTML & CSS Design and Build Websites. Indianapolis: John Wiley & Sons, Inc.*/
/*end of food page css*/


/*********************************Events page CSS*****************************************************************/
/*Written by Mara*/
div.event{ /*Container for each event*/
  width: 100%;
  align-content: center;
  border: 2px solid black;
  margin-bottom: 0px;
}

#events{ /*Main title for the event page*/
  text-align: center;
}

h2.date{ /*Second heading */
  text-align: left;
  clear: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 2%;
  padding-top: 2%;
  border: 1px solid black;
  background-color: lightsteelblue;
  }

h3.activity{ /*Third heading*/
  background-color: lightgrey;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.description{ /*description css*/
  text-align: left;
  margin: 0.5%
  }

img.eventpic{ /*css for pictures on event page*/
  width: 100%;
  height: auto;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

#mybutton{ /*Change the colour of the button, make it round*/
  background-color: lightblue;
  border-radius: 12px
}

#secondbutton{ /*Repeat for second button, make it round*/
  background-color: lightblue;
  border-radius: 12px
}

#lastbutton{ /*Repeat for third button, make it round*/
  background-color: lightblue;
  border-radius: 12px
}
/*Code for button css referenced from Dossena, F. (2019). COOL AND RESPONSIVE BUTTONS WITH A FEW LINES OF CSS. Retrieved from fdoessena: https://fdossena.com/?p=html5cool/buttons/i.frag*/


/************************************************** Parks Page CSS *******************************************************/
/* Written by Grayson*/

  .masonry { /* Masonry container Adapted from https://w3bits.com/css-masonry/ */  
    column-count: 3;
    column-gap: 1em;
    padding: 1em;
  }

  .pintrestitem { /* Masonry bricks / elements  adapted from https://w3bits.com/css-masonry/ */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 3px 5px 7px rgba(105, 105, 105, 0.8);
    padding:10px;
  }
  .pintrestimage {
    width:100%;
    max-width:100%;
    height:auto;
}



  /* Footer style */
/* Written by Chris*/

footer{ /*Chris Noakes*/
	flex-shrink:0;
  width:100%;
}
.footerRow{ /*Chris Noakes*/
	background-color:#e3e3e3;
}
.footerRow:after{ /*Chris Noakes*/
	content:" ";
	display:table;
	clear:both;
}
.footerCol{ /*Chris Noakes*/
	text-align:center;
  float:left;
  width:25%;
	padding:10px;
	box-sizing:border-box;
	height:100%;
}

.footerImg{ /*Chris Noakes*/
  width:100%;
  max-width:276px;
}
.footerHeader{ /*Chris Noakes*/
	margin-top:5px;
  margin-bottom:10px;
}

@media screen and (max-width: 800px) {
  .footerCol {
    width: 50%;
  }
}
#footerBlurb{ /*Chris Noakes*/
  margin-top:0px;
}
.footerLinks{ /*Chris Noakes*/
	text-align:center;
	display:block;
	color:blue;
  box-sizing:border-box;
  font-family: Helvetica;
  text-decoration: none;
}
.footerLinks:hover{ /*Chris Noakes*/
	color:red;
}

.socialLinks{ /*Chris Noakes*/
  white-space: nowrap;
	text-decoration:none;
}

/*End footer style*/

/*Our Team Page Style by Chris Noakes*/
.headerTeam{
  font-family: Helvetica;
  text-align: center;
}

.subheaderTeamRight{
  text-align: right;
  font-family: Helvetica;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  border: 2px solid #999797;
  border-radius: 10px;
  height: 28px;
  background-color: lightsteelblue;
}

.subheaderTeamLeft{
  text-align: Left;
  font-family: Helvetica;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #999797;
  border-radius: 10px;
  height: 28px;
  background-color: lightsteelblue;
}

.imageTeamRight{
  clear: right;
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  max-width: 250px;
  vertical-align: top;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2)
}

.paraTeamLeft{
  float: left;
  margin-left: 10px;
  font-family: Helvetica;
  text-indent: 50px;
}

.paraTeamRight{
  float: right;
  margin-left: 10px;
  font-family: Helvetica;
  text-indent: 50px;
}

.imageTeamLeft{
  clear: left;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  width: 100%;
  max-width: 250px;
  vertical-align: top;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2)
}
/*End Our Team Style by Chris */


/*Lindsay Locals Testemonials style by Chris*/

.testemonialsCol{
  background-color: rgb(255, 255, 255);
  float: left;
  width:33%;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

.testemonialsCard{
  border: solid 1px black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: rgb(175, 207, 255);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
}

.cardText{
  display: block;
  white-space:pre-line;
}
.innerContentLocals{
  position:relative;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom:9px;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(105, 105, 105, 0.8), -12px 0 15px -4px rgba(105, 105, 105, 0.8);
}

.localsImage{
  width:100%;
  max-width: 800px;
}

.centerText{
  color:rgb(255, 255, 255);
  text-shadow: 5px 5px 5px black, 0 0 1em rgb(224, 253, 242), 0 0 0.2em black;
  font-size: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-header{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-top: 16px;
    position: static;
    font-weight: 700;
	width:100%;
}

#subtitle{
	text-align: center
}

#mainBlurb{
	width:50%;
	font-size:20px;
	float:left;
	font-family:Helvetica;
}

/* Calendar Responsive and Display Content */ 
/* Written By Grayson */

#calendar {
  width: 100%;    
}

#calendar a {
  color: #8e352e;
  text-decoration: none;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width:14.342%;
  padding: 5px;
  box-sizing:border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays {
  height: 40px;
  background: #8e352e;
}

#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar .days li {
  height: 180px;
}

#calendar .days li:hover {
  background: #d3d3d3;
}

#calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  background: #333;
  color: #fff;
  width: 20px;
  border-radius: 50%;
  float: right;
}

#calendar .event {
  clear: both;
  display: block;
  font-size: 13px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  line-height: 14px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #009aaf;
  text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;  
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
              Mobile Responsiveness
 ============================*/


@media(max-width: 768px) {

  #calendar .weekdays, #calendar .other-month {
      display: none;
  }

  #calendar li {
      height: auto !important;
      border: 1px solid #ededed;
      width: 100%;
      padding: 10px;
      margin-bottom: -1px;
  }

  #calendar .date {
      float: none;
  }
}

/* End of Content Written By Grayson */